body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #000000;
    background-image: url("../img/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    background-color: #000000;
}

.main-navigation,
.user-navigation {
    list-style: none;

}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.features-list {
    list-style: none;
}

.feature-item {
    text-align: center;
}

.feature-item h3 {
    font-size: 30px;
    line-height: 42px;
}