/* Глобальные стили */

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #000000;
    background-image: url("../img/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

/* Шапка header */

.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    background-color: #000000;
}

.main-navigation,
.user-navigation {
    list-style: none;

}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

/* Блок с преимуществами */

.features-list {
    list-style: none;
}

.feature-item {
    text-align: center;
}

.feature-item h3 {
    font-size: 30px;
    line-height: 42px;
}

/* Блок новрсти + галерея */

.index-columns {
    color: #000000;

    background-color: #f8f5f2;
    background-image: url("../img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

.news-list {
    list-style: none;
}

.news-item time {
    text-transform: none;
}

.gallery-content {
    background-color: #cccccc;
    border: 7px solid #ffffff;
}