/* Глобальные стили */

html,
body {
    min-width: 1122px;
    min-height: 1750px;
}

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #000000;
    background-image: url("../img/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.inner-page {
    color: #000000;

    background-color: #f9f6f3;
    background-image: url("../img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

/* Шапка header */

.main-header {
    margin-bottom: 75px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.main-header-logo {
    order: 2;
    width: 368px;
    height: 153px;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;

    background-color: #000000;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    width: 620px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.user-navigation {
    width: 140px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

/* Блок с преимуществами */

.features {
    margin-bottom: 80px;
}

.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.feature-item {
    width: 300px;

    text-align: center;
}

.feature-item h3 {
    font-size: 30px;
    line-height: 42px;
}

/* Блок новости + галерея */

.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;

    color: #000000;

    background-color: #f8f5f2;
    background-image: url("../img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

.news {
    width: 380px;
}

.news-list {
    list-style: none;
}

.news-item time {
    text-transform: none;
}

.gallery {
    width: 300px;
}

.gallery-content {
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

/* Контакты и записаться */

.contants {
    width: 380px;
}

.appointment {
    width: 300px;
}

.appointment-item input {
    font: inherit;

    background-color: transparent;
    border: 2px solid #000000;
}

.appointment-item input:focus {
    border-color: #663d15;    
}

/* Страница каталога */

.page-title {
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs-current {
    color: #aba9a7;
}

/* Фильтр товаров */

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 24px;
    line-height: 30px;
}

.filter ul {
    list-style: none;
    line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #663d25;
}

.filter-input:disabled + label {
    color: #000000;

    opacity: 0.5;
}

/* Карточки товаров */

.catalog-list {
    list-style: none;
}

.catalog-item {
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.catalog-item a {
    color: #000000;
}

.catalog-item h3 {
    font-size: 14px;
    line-height: 18px;
}

.catalog-category {
    text-transform: none;
}

.catalog-item-price b {
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    background-color: #e5e5e5;
}

.catalog-item-price .button {
    line-height: 20px;
    color: #ffffff;
}

.pagination-list {
    list-style: none;
}

.pagonation-item a {
    color: #ffffff;

    background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: #663d15;
}

.pagination-item-current a {
    color: #000000;

    background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #000000;

    background-color: #ffffff;
}

/* Карточка товара */

.product-photo-preview {
    list-style: none;
}

.product-photo-preview li {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-article {
    text-align: right;
    color: #aeaeae;
}

.product-price b {
    line-height: 20px;
    text-align: center;

    background-color: #e5e5e5;
}

.product-info h3 {
    font-size: 24px;
    line-height: 30px;
}

.product-info ul {
    list-style: none;
}

/* Футер */

.main-footer {
    color: #ffffff;

    background-color: #212121;
    background-image: url("../img/pattern-dark.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;    
}

.social-button {
    color: #ffffff;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;

    background-color: #ffffff;
}

/* Модальные окна */

.modal {
    color: #000000;

    background-color: #f8f3f0;
    background-image: url("../img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-checkout:hover,
.login-checkout:focus {
    color: #663d15;
}

.restore {
    color: #000000;
    text-decoration: none;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}